*{
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(120deg, #667eea, #764ba2);
}

.container{
    min-height: 80vh;
    width: 100vw;
    padding: 5vh 20vw;
    color: #fdfdfd;
    text-align: center;
}

.title{
    margin-top: 3vh;
}

.time{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 2vh;
}

.loader{
    width: 80%;
    height: 2vh;
    background: #fdfdfd;
    border-radius: 50px;
}

.fill{
    width: 0;
    height: 2vh;
    background: #f45c43;
    border-radius: 50px;
}

@keyframes disk{
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
}